:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  padding: 0 30px 20px;
}
h2 {
  margin-top: 35px;
}
form {
  margin-top: 10px;
}
button {
  margin-left: 4px;
  transition: box-shadow 0.5s;
}
button:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.50);
}
